<div class="colour-picker--container" [class.colour-picker--responsive]="isResponsive">
    <cp-colour-slider [height]="height"
                      [pickedColour]="coloursService.pickedColour"
                      (colour)="onChangesMadeToSlider($event)"></cp-colour-slider>

    <cp-colour-palette [height]="height"
                       [width]="width"
                       [pickedColour]="coloursService.pickedColour"
                       (colour)="onChangesMadeToPalette($event)"></cp-colour-palette>

    <cp-colour-details [height]="selectHeight"
                       [width]="selectWidth"
                       [hasColourSelect]="hasColourSelect"
                       (colour)="onChangesMadeToDetails()"></cp-colour-details>

    <cp-colour-details-mini [width]="selectMiniWidth"
                            (colour)="onChangesMadeToDetails()"
                            *ngIf="!hasColourSelect"></cp-colour-details-mini>
</div>
