.colour-picker {
    &--palette {
        display: inline-block;
        margin: 0;
        margin-bottom: 4px;
        padding: 0;
        border-radius: 3px;

        overflow: hidden;

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .colour-picker--responsive .colour-picker--palette {
        display: none;
    }
}
